<div class="paginator">
  <button (click)="goToPage(1)" [disabled]="currentPage === 1">
    <img
      src="assets/images/chevron-left-double.svg"
      alt="<"
      class="h-[26px] w-[26px]"
    />
  </button>
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
    <img
      src="assets/images/chevron-left.svg"
      alt="<"
      class="h-[22px] w-[22px]"
    />
  </button>
  <div class="page-numbers">
    <span *ngFor="let page of getPageNumbers()">
      <button
        [class]="currentPage === page ? 'active' : ''"
        (click)="goToPage(page)"
      >
        {{ page }}
      </button>
    </span>
  </div>
  <button
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    <img
      src="assets/images/chevron-right.svg"
      alt="<"
      class="h-[22px] w-[22px]"
    />
  </button>
  <button
    (click)="goToPage(totalPages)"
    [disabled]="currentPage === totalPages"
  >
    <img
      src="assets/images/chevron-right-double.svg"
      alt="<"
      class="h-[26px] w-[26px]"
    />
  </button>
</div>
